@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: vladimir;
    src: url('./Components/Banner/Vladimir\ Script\ Regular.ttf');
}
@font-face {
    font-family: georgia;
    src: url('./Components/Banner/Georgia.ttf');
}
*{
    font-family: georgia,'Times New Roman', Times, serif;
}
.fondoDorado{
    background-color: #D6B36A;
}
.textoDorado{
    color:#D6B36A;
}
.header{
    background-color: #262525;
}
#pastas{
    color: #202020;
}

#footer{
    color: #161616;
}
#textoFooter{
    color: #000000;
}
.logoPiatti{
    font-family: vladimir;
}